body {
  margin-top: 75px;
  font-family: arial;
  background-color:  rgb(18, 30, 39);
  margin: 0 auto;
  height: 100vh;
  height: -webkit-fill-available;
}

  html {
  height: -webkit-fill-available;
 }
  
@media (max-width: 800px) {
  .body {
    margin-right: 0px;
  }
}

.div1 {
  height: 63px;
  background-color: rgb(18, 30, 39);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
  flex-direction: row;
  
}

.dp {
   width: 59px;
   margin-left: 15px;
   margin-top: 7px;
}

.dp1 {
  height: 59px;
  padding: 2px;
  border-radius: 30px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}

.div1 a {
  color: white;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.introduction {
  
  background-color: rgb(18, 30, 39);
  color: white;
  padding-top: 80px;
  padding-bottom: 120px; 
  padding-left: 20px
}

.bigname {
  font-size: 55px;
}

.smallername {
  font-size: 35px;
}

.firstsentence {
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
  max-width: 500px;
  margin-bottom: 0;
}

.mediabuttons {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: 300px; 
}

.mediabutton {
  background-color: transparent;
  border-width: 1px;
  margin-right: 8px;
}


.logo {
  height: 40px;
  border-radius: 20px;
}

.mySkills {
  background-color: white;
}

.skillsdiv {
  padding: 30px;
}

.skillstext {
  color: black;
  font-size: 40px;  
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.skillname {
  font-size: 20px;
  margin-bottom: 5px;
}

.skillbutton {
  padding: 7px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: black;
  color: white;
  border: none;
}

.skillszone {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

@media (max-width: 650px) {
  .skillszone {
    grid-template-columns: 1fr 1fr;
  }
}

.skillbox {
  flex: 1;
  margin-bottom: 20px; 
  margin-top: 0px; 
  background-color: brown;
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.myProjects {
  height: 590px;
  background-color: orange;
  color: black;
  margin-bottom: 50px;
}

.contactMe {
  background-color: rgb(18, 30, 39);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 650px) {
  .contactMe {
    grid-template-columns: 1fr;
  }
}
.contacts {
  background-color: rgb(18, 30, 39);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.linksfooter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.linksfooter a {
  color: white;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}









